body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1130px;
}

.avatar-upload.avatar {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}
.avatar-upload.avatar .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload.avatar .avatar-edit input {
    display: none;
}
.avatar-upload.avatar .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload.avatar .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload.avatar .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload.avatar .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload.avatar .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
body{
  font-family: 'Arimo', sans-serif;
}
.container .warpper{
  display:flex;
  flex-direction: column;
  padding-top: 50px;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:100%;
  border-radius:3px;
  overflow:hidden;
  padding:20px;
}
.box-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.form-group.col-md-6{
    height: 62px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 0 15px;
}
.form-group .form-control{
    width: 100%;
}
.form-group .btn-set{
    margin-top: 15px;
    text-align: center;
}
.form-group .btn-up{
    padding: 7px 12px;
    border-radius: 3px;
    font-size: 14px;
    background-color:#28a745;
    color: #fff;

}
.box-gender{
    display: flex;
}
.box-gender span{
    padding: 0 10px;
}
.changepass{
    height: 550px;

}

.form-group .btn-up:hover{
    background-color: #22923d;
}
.panell{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.radio-top{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}
