
.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn img{
    margin-right: 15px;
    width:35px;
    height:35px;
    border-radius: 50%;
}
.dropbtn:hover,.dropbtn:focus {
    background-color: #d8d8d8;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}
.user-header{
    padding: 10px 0;

}
.user-header p{
    margin: 10px 0;
}
.user-header img{
  width:90px;
  height:90px;
  border-radius: 50%;
}
.dropdown-content {
  display: none;
  width: 280px;
  position: absolute;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.user-footer{
  display:flex;
  justify-content: space-between;

  padding: 10px;
  border-top: 1px solid #ddd;
}
.dropdown-content .pull{
  color: black;
  padding: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.dropdown .pull:hover {background-color: #ddd;}

.show {display: block;}
